/* https://codepen.io/t_afif/pen/abKyJNJ */

$margin: 15px;

* {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    margin: 0;
}

body {
    height: 100%;
    width: 80vw;
    padding: 0;
    margin: 0;
    padding-left: 40px;
    display: grid;
    background: white;
    margin-bottom: $margin*3;
}

h1 {
    // font-family: "Marmelad", sans-serif;
    font-size: 3em;
    margin-top: $margin;
    margin-bottom: $margin*2;
}

h2 {
    font-size: 2em;
    margin-top: $margin;
    margin-bottom: $margin*2;
    // margin: $margin;
}

.container{
    margin-bottom: $margin*5;
}

/* アニメーション =========================== */
.btn {
    margin-bottom: 10px;
    --c: #229091;
    /* the color*/

    box-shadow: 0 0 0 .1em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background:
        var(--_g) calc(var(--_p, 0%) - 100%) 0%,
        var(--_g) calc(200% - var(--_p, 0%)) 0%,
        var(--_g) calc(var(--_p, 0%) - 100%) 100%,
        var(--_g) calc(200% - var(--_p, 0%)) 100%;
    background-size: 50.5% calc(var(--_p, 0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
}

.btn:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
}

.btn:active {
    box-shadow: 0 0 9e9q inset #0009;
    background-color: var(--c);
    color: #fff;
}

.btn {
    font-family: system-ui, sans-serif;
    font-size: 3.5rem;
    cursor: pointer;
    padding: .1em .6em;
    font-weight: bold;
    border: none;


}

.click {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    cursor: pointer;
    padding: .1em .6em;
    font-weight: bold;
    border: none;
    margin-top: $margin;
    width: 30%;
}


/* tooltip =========================== */

.tooltip {
    position: relative;
    display: inline-block;
    margin-bottom: $margin*3;
}

.tooltip .tooltiptext {
    visibility: hidden;
    // width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 40%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    margin-left: -5px;
    border-width: -5px;
    border-style: solid;
    transform: rotate(90deg);
    border-color: #555 transparent transparent transparent;
    //  border-color: tomato transparent transparent transparent;

}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


// 空白削除ツール =======================
.font{
    font-size: 2em;
}