@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';

$spacing: 15px;
$b: #83dcd6;
$brown: #605c56;

* {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    color: $brown
}

*,
*::after,
*::before {
    margin: 0;
}

body {

    height: 100%;
    padding: 0;
    margin: 0;
    margin: $spacing*2 auto;
    margin-bottom: $spacing*8;
    background-color: #f7dbdc;
    // text-align: center;
    width: 80vw;

}

body>h1 {
    font-size: 3em;
    margin-top: $spacing;
    margin-bottom: $spacing*2;
    text-align: center;

}

.container>h2 {
    font-size: 2em;
    margin-top: $spacing;
    margin-bottom: $spacing;
    background: #f7f7f7;
    border-left: solid $brown 5px;
    padding: 14px 12px;
    // border-bottom: solid 3px #dadada;
    clear: both;

}

.container {
    margin-bottom: $spacing*3;
    // background-color:rgba(23, 23, 23, 0.4);
    padding: $spacing*2 ;
    padding-bottom: $spacing*1.5;

    label {
        background-color: #605c56;
        color: white;
        padding: .3em 1em;


    }
}

textarea {
    width: 100%;
    font-size: 2em;
    box-sizing: border-box;
    // border: 3px solid rgba(0, 0, 0, 0);
    box-shadow: 0 2px 6px rgb(19 19 19 / 15%), 0 -2px 4px rgb(19 19 19 / 15%);
    resize: vertical; // <---　ポイント
}

.textarea_line {
    font-size: 1rem;
}

.tips{
    // padding: 20px 25px;
    margin-bottom: 30px;
    // background: #f6f4f8;
    // border-radius: 10px;
}
/************************************
** ボタン
************************************/
.arrow {
    display: flex;
    margin: 2em 0;
    align-items: center;
    justify-content: center;

    &_row {
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 1em;
        align-items: center;
    }
}

.btn {
    font-size: 1rem;
    cursor: pointer;
    padding: .5em;
    font-weight: bold;
    margin: .2em;
    background: $b;
    border: none;
    border-bottom: 3px solid #5c9b97;
    border-radius: 10px;

}

.btn:hover {
    transform: translateY(1px)
}

.btn:active {
    border-bottom-color: transparent;
    transform: translateY(3px)
}

.btn:focus {
    animation: flashing 1s ease infinite
}

/************************************
** 結果出力
************************************/
.font {
    font-size: 2em;
    font-weight: 500;
    overflow-wrap: break-word;

    &_big {
        font-size: 8em;
    }

    &_sm {
        font-size: 1em;
    }
}

.result_space {
    padding: 2em .2em;
    background-color: white;
    box-shadow: 0 2px 6px rgb(19 19 19 / 15%), 0 -2px 4px rgb(19 19 19 / 15%);
}

// Count number of lines in text ====
.result_count {
    margin: auto 1em;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    width: 10%;


    &_container {
        display: flex;
    }
}
/************************************
** HTML Escape
************************************/
tr:nth-of-type(odd) {
    background: #5c9b97;
}

table{
    background: $b;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
    margin-top: 1em;
    margin-bottom: 2em;
}
    


td {
    padding: .5em;
    empty-cells: show;
    border: 1px solid #5c9b97;
}

.tbl th {
    text-align: center;

    padding: 2px;
    empty-cells: show;
    border: 1px solid #5c9b97;
}


th,td{
    color: white;
    font-weight: bold;
}